{% extends 'mentee/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'sinch/style.css' %}" />
<link rel="stylesheet" href="{% static 'flipclock/flipclock.css' %}">
{% endblock %}

{% block container_title %}
<h3>Web Call</h3>
{% endblock %}

{% block container_block %}
	<div class="container-fluid">
		<div class="top1">
		</div>

		<div class="row-fluid">
			<div class="col-md-7 " class="call">
                    {% if req_list %}
                        {% for request in req_list %}
                        <div class="row well margin-s">
                            <div class="col-sm-3 textCenter">
                                <img src="{{ request.mentor_pic }}" class="img-responsive img-circle center"/>
                            </div>
                            <div class="col-sm-4 textCenter">
                                <h4>{{ request.mentor_name }}</h4>
                                <input type="hidden" class="request_id" value="{{ request.request_id }}"></input>
                                {{ request.date }}<br>
                                {{ request.startTime }}-{{ request.endTime }}
                            </div>

                            <div class="col-sm-5 well textCenter">
                                <input type="hidden" class="calleeId" value="user{{ request.mentor_id }}" />
                                <input type="hidden" class="callUserName" value="{{ request.mentor_name }}" />
                                <button class="call">Call</button>
                                <button class="hangup">Hangup</button>
                            </div>
                        </div>
                    {% endfor %}

			</div>
            <div class="col-sm-5 textCenter margin-s pad-s">
                <div class="clock center"></div>
                <div id="callLog" class="row textCenter margin-s no-display well ">
                    <h3>Your Call Log</h3>

                </div>
            </div>



			<div class="error col-xs-6 well no-display">

			</div>

		</div>


	</div>
    {% else %}
        <div class="row well">
            <h4>You don't have any call scheduled for today. Come back tomorrow! :)</h4>
        </div>
    {% endif %}
    <audio class="incoming" autoplay></audio>
    <audio class="ringback" src="{% static 'sinch/ringback.wav' %}" loop></audio>
    <audio class="ringtone" src="{% static 'sinch/phone_ring.wav' %}" loop></audio>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'sinch/sinch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sinch/WEBsampleMentee.js' %}"></script>
<script src="{% static 'flipclock/flipclock.min.js' %}"></script>
<script type="text/javascript">
	clock = new FlipClock($('.clock'), {
		autoStart: false,
		clockFace: 'MinuteCounter'

});


</script>
{% endblock %}