{% extends 'mentee/base.html' %}
{% load static %}
{%  block stylesheets %}
    <style type="text/css">
        .textCenter {
            text-align: center;
        }
        .btn-round {
              background-color: #ffa54f;
              border-radius: 999em;
              width: 50px;
              height: 50px;
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
              line-height: 1;
              font-size: 36px;
              position: relative;
              cursor: pointer;
              display: block;
              margin: 5px auto;
            }

            .btn-round i {
                position: absolute;
              left: 0;
              top: 70%;
              height: 100%;
              width: 100%;
              text-align: center;
              margin-top: -22px;
              color: #FFF;
                font-size: 25px;
            }
            .center {
                display: block;
                margin: 0 auto;
            }
            .img-responsive {
                max-width: 100px;
                max-height: 100px;
            }
    </style>
{%  endblock %}

{% block container_title %}<div class="col-xs-12 textCenter"><h1 class="center">Manage Social Profiles</h1></div><br>{% endblock %}

{% block container_block %}
    <div class="col-md-4 col-sm-6 spacing-bottom-sm spacing-bottom">
        <div class="tiles white added-margin textCenter">
            <div class="tiles-body">
                <h2>Google</h2>
                <hr>
                <div class="btn-round" style="background-color: #dd4b39"><i class="fa fa-google-plus"></i></div>
                {% if sp != None and sp.profile_url_google != ""%}
                    <hr>
                    Avatar: <img style="width: 100px;height: 100px" class="img-responsive center" src="{{ sp.profile_pic_url_google }}"></img><br>
                    <a href="{{ sp.profile_url_google }}">Profile URL</a><br>
                    <a href="/mentee/manage-social-profiles/remove/google/">Remove</a>
                {% else %}
                    <a href='{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}'>Link an account!</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 spacing-bottom-sm spacing-bottom">
        <div class="tiles white added-margin textCenter">
            <div class="tiles-body">
                <h2>Facebook</h2>
                <hr>
                <div class="btn-round" style="background-color: #3b5998"><i class="fa fa-facebook"></i></div>

                {% if sp != None and sp.profile_url_facebook != "" %}
                    <hr>
                    Avatar: <img style="width: 100px;height: 100px" class="img-responsive center" src="{{ sp.profile_pic_url_facebook }}"></img><br>
                    <a href="{{ sp.profile_url_facebook }}">Profile URL</a><br>
                    <a href="/mentee/manage-social-profiles/remove/facebook/">Remove</a>
                {% else %}
                    <a href='{% url 'social:begin' 'facebook' %}?next={{ request.path }}'>Link an account!</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 spacing-bottom-sm spacing-bottom">
        <div class="tiles white added-margin textCenter">
            <div class="tiles-body">
                <h2>Linkedin</h2>
                <hr>
                <div class="btn-round" style="background-color: #0976b4"><i class="fa fa-linkedin"></i></div>

                {% if sp != None and sp.profile_url_linkedin != "" %}
                    <hr>
                    Avatar: <img style="width: 100px;height: 100px" class="img-responsive center" src="{{ sp.profile_pic_url_linkedin }}"></img><br>
                    <a href="{{ sp.profile_url_linkedin }}">Profile URL</a><br>
                    <a href="/mentee/manage-social-profiles/remove/linkedin/">Remove</a>
                {% else %}
                    <a href='{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}'>Link an accont</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 spacing-bottom-sm spacing-bottom">
        <div class="tiles white">
            <div class="tiles-body">
                Note: The email with which you have registered your Facebook, Google or LinkedIn account
                should be same as the one you are using on MentorBuddy.
            </div>
        </div>
    </div>
{% endblock %}
