{% extends 'mentee/base.html' %}
{% load static %}
{% block stylesheets %}


<link rel="stylesheet" type="text/css" href="{% static 'css/mentor/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <style>
        .statusSign {
            margin-top: 20px;
            display: block;
            font-size: 30px;

        }
        .hoverColor:hover {
            background: rgba(74,201,72,0.7) !important;
        }
        .clickable {
            cursor: pointer;
        }
        .error {
           color: #ff102c;
        }
        .fieldError {
            border: 1px solid #ff102c !important;
        }
        .pad-m {
            padding: 20px;
        }
        @media screen and (max-width: 800px) {
            .no-padding-xs {
                padding: 0px !important;
            }
        }
        .green-bg {
            background-color: rgba(74,201,72,0.7);
        }

    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'button/button.css' %}" />
	<script src="{% static 'button/snap.svg-min.js' %}"></script>
{% endblock %}

{% block container_title %}
    Profile Page
{% endblock %}

{% block container_block %}



<div class="container-fluid">
    <!-- Schedule Modal -->
    <div class="modal fade" id="scheduleModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">How would you like to connect?</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div id="scheduleDiv">
                    <div class="row well pd-s mg-s">
                        <ul class="txt-m">
                            <li id="step1"><h4>Select upto 2 dates and a time.</h4></li>
                            <li id="step2"><h4>Check availability.</h4></li>
                            <li id="step3"><h4>Select an available date & time.</h4></li>
                            <span id="errorDiv" ><h5 class="error"></h5></span>
                        </ul> 
                    </div>
                    <div class="col-md-6">
                        <div class="row pd-s">
                            <div class="col-xs-12 well textCenter" id="timeBox1">
                                <input id="date1" type="text" class="mg-s highlight-blue" placeholder="Enter Date & Time">
                                <input type="text" class="highlight-blue" id="dur1" placeholder="Duration: eg 15 min"/>
                            </div>
                        </div>  
                    </div>
                    <div class="col-md-6">
                        <div class="row pd-s">
                            <div class="col-xs-12 well textCenter" id="timeBox2">
                                <input id="date2" type="text" placeholder="Enter Date & Time" class="mg-s highlight-blue" />
                                <input type="text" class="highlight-blue" id="dur2" placeholder="Duration: eg 15 min"/>
                            </div>
                        </div>
                    </div>
                    <div class="row textCenter">
                    <button class="checkButton checkAv button--fill button--effect-2">
                        <span class="morph-shape" data-morph-active="M282.5,62.5c0,27.891-8.648,51.994-36.5,50.5c-24.049-1.29-44.75-8-96-8c-56.75,0-71.952,6.71-96,8c-27.851,1.494-36.5-22.609-36.5-50.5l0,0C17.5,34.609,26.215,9.572,54,12c23.973,2.095,39.75,7,96,7c51.502,0,72.01-5.125,96-7C273.807,9.827,282.5,34.609,282.5,62.5L282.5,62.5z">
                            <svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
                                <path d="M286.5,62.5C286.5,90.39099999999999,273.891,113,246,113C201.75,113,201.25,113,150,113C93.25,113,93.5,113,54,113C26.109,113,13.5,90.39099999999999,13.5,62.5C13.5,62.5,13.5,62.5,13.5,62.5C13.5,34.609,26.109,12,54,12C93.5,12,93.75,12,150,12C201.502,12,201.5,12,246,12C273.891,12,286.5,34.609,286.5,62.5C286.5,62.5,286.5,62.5,286.5,62.5C286.5,62.5,286.5,62.5,286.5,62.5"></path>
                            <desc>Check Availability</desc><defs></defs></svg>
                        </span>
                        <span class="button__text">Check Availability</span>
                    </button>
                    </div>
                </div>
            </div>

            <div class="button-group">
                <button class="flatButton scheduleSelect" value="1">Web-to-Web Call</button>
                <button class="flatButton scheduleSelect disabled" value="2">Web-to-Phone Call</button>
                <button class="flatButton scheduleSelect disabled" value="3">Video Call</button>
            </div>
        
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div style="margin-top:100px;" class="clearfix"></div>
        <div class="row">
            <div class="col-md-6  margin-left-3 no-padding-xs">
                <div class="row no-padding">
                    <div class="tiles green cover-pic-wrapper">                     
                        <div class="overlayer bottom-right">
                            <div class="overlayer-wrapper">
                                    <div class="padding-10 hidden-xs">                                  
                                        <button type="button" class="btn btn-primary btn-small disabled "><i class="fa fa-check"></i>&nbsp;&nbsp;Following</button>
                                    </div>
                            </div>
                        </div>
                        <!-- <img src="{%static 'template/webarch/assets/img/cover_pic.png' %}" alt="Cover Pic"> -->
                        <img src="{%static 'img/bg7.jpg' %}" alt="">
                    </div>
                    <div class="col-xs-12 white">
            
                        <div class="row tiles pd-l white">
                            <div class="col-md-3 col-sm-3 " >
                                <div class="user-profile-pic">  
                                    <img width="69" height="69" data-src-retina="{{ picture_url }}" data-src="{{ picture_url }}" src="{{ picture_url }}" alt="">
                                </div>
                                 <div class="user-mini-description">
                                    <h3 class="text-success semi-bold">
                                        48
                                    </h3>
                                    <h5>Mentee</h5>
                                    <h3 class="text-success semi-bold">
                                        4 
                                    </h3>
                                    <h5>Blogs</h5>
                                </div>
                            </div>
                            <div class="col-md-5 user-description-box col-sm-5">
                                <h4 class="semi-bold no-margin">{{ full_name }}</h4>
                                <h6 class="no-margin">{{ college }}</h6>
                                <br>
                                <p><i class="fa fa-globe"></i>
                                    {% if city or country %}
                                        from
                                    {% endif %}

                                    {% if city %}
                                        {{ city }},
                                    {% endif %}

                                    {% if country %}
                                        {{ country }}
                                    {% endif %}

                                </p>

                            </div>
                            <div class="col-md-3 col-sm-3 pd-l">
                                <button class="btn center" data-toggle="modal" data-target="#scheduleModal">Connect</button>
                            </div>
                        </div>

                        {% if edu_list %}
                        <div class="row textCenter">    
                            <div class="col-xs-12 tiles white pd-s mg-top-m textCenter  bg-purple"><h3 class="txt-white">Education Details</h3></div>
                                
                                {% for item in edu_list %}
                                    <div class="col-sm-12 textCenter pd-l mg-top-s tiles white">
                                        <h3>{{ item.inst }}</h3>
                                        <hr>
                                        <div class="col-xs-12 ">
                                            {{ item.loc }},{{ item.country }}
                                        </div>
                                        <div class="col-xs-12 ">
                                             {{ item.degree }} in {{ item.branch }}
                                        </div>
                                        <div class="col-xs-12 ">
                                             {{ item.from }}-{{ item.to }}
                                        </div>
                                    </div>                                
                                {% endfor %}

                        </div>
                        {%endif%}
                    </div>
                </div>  
            </div>
            
            
            <div class="col-md-5 margin-left-3">
                <div class="row">
                <div class="tiles white col-md-12  no-padding">         
                    <div class="tiles-body">
                        <h5 ><span class="semi-bold">{{ full_name}}'s Blogs and shared posts</span>&nbsp;&nbsp; <a href="#" class="text-info normal-text">view more</a></h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row  pad-s">
                                    <div class="col-xs-12">
                                        <h4>Blog 1</h4>
                                    </div>
                                    <div class="col-xs-12">
                                        Coming soon
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <div class="row  pad-s">
                                    <div class="col-xs-12">
                                        <h4></h4>
                                    </div>
                                    <div class="col-xs-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12 tiles white textCenter pad-m">
                    <span><h4>Favored call timings</h4></span>
                      <hr>
                      {% if weekday_u %}
                          <h5>Weekdays: {{ weekday_l }}-{{ weekday_u }}</h5>
                          <h5>Weekends: {{ weekend_l }}-{{ weekend_u }}</h5>
                      {% else %}
                          Not specified<br>
                          <b>Please select timings according to "{{ timezone }}" timezone</b>
                      {% endif %}
                  </div>
                </div>
                
                <div class="row">
                    {% if about %}
                    <div class="col-xs-12 white tiles pd-s mg-top-s textCenter bg-purple">
                        <h3 class="txt-white">About</h3>
                    </div>
                    <div class="col-xs-12 white tiles pd-xl mg-top-s textCenter">
                          {{ about }}
                    </div>
                    {% endif %}
                </div>
                <br>
                {% if edu_list %}
                <div class="row">
                    <div class="col-xs-12 white tiles pd-s textCenter bg-purple">
                        <h3 class="txt-white">Employment Details</h3>
                    </div>
                    <div class="col-xs-12 white tiles pd-l mg-top-s textCenter">
                        {% for item in emp_list %}
                            Organization: {{ item.org }} <br>
                            Location: {{ item.loc }} <br>
                            Position: {{ item.pos }} <br>
                            Period: {{ item.from }} - {{ item.to }}<br>
                        {% endfor %}
                    </div>
                </div>
                {%endif%}
            </div>    
            </div>
        </div>
<!-- END CONTAINER -->
{% endblock %}

{% block scripts %}

<script src="{% static 'datetimepicker/jquery.datetimepicker.js' %}" type="text/javascript"></script>
<script type="text/javascript">

    $("#scheduleDiv").hide();
    $("#step3").hide();

    $(".scheduleSelect > input").focus(function() {
       if($(this).value != "") {
           $("#step2").show();
       }
    });
    $(".scheduleSelect").click(function() {
        $(".button-group").hide();
        setTimeout( function() {
            $("#scheduleDiv").show();
            $("#backToSelect").show();
        }, 00);

        $("#scheduleDiv").append('<input type="hidden" name="callType" id="callType" value="'+ $(this).val()+'" />');
    });

    $('#date1').datetimepicker({
        format:'d/m/Y H:i',
        lazyInit: true,
        validateOnBlur: true,
    });
    
    $('#date2').datetimepicker({
        format:'d/m/Y H:i',
        lazyInit: true,
        validateOnBlur: true,
    });

    $('#scheduleDiv input').focusout(function() {
        if($(this).val() != '')  {
            $(this).removeClass("fieldError");
        }
    });

    $(".checkAv").click(function() {
        var date1,date2,res,time1,time2,dur1,dur2;
        date1 = $("#date1").val();
        date2 = $("#date2").val();
        res = date1.split(" ");
        date1 = res[0];
        time1 = res[1];
        res = date2.split(" ");
        date2 = res[0];
        time2 = res[1];
        dur1 = $("#dur1").val();
        dur2 = $("#dur2").val();
        var error = false;

        //remove the green background from old accepted DIVs
        $(".clickable").removeClass(".green-bg");

        if(dur1 == "" || (dur1 < 5 || dur1 > 30) ) {
            $("#dur1").addClass("fieldError");
            error = true;
        }
        if(dur2 == "" || (dur2 < 5 || dur2 > 30)) {
            $("#dur2").addClass("fieldError");
            error = true;
        }
        if(date1 == "") {
            $("#date1").addClass("fieldError");
            error = true;
        }
        if(date2 == "") {
            $("#date2").addClass("fieldError");
            error = true;
        }
        if(error == true) {
            $("#errorDiv h5").html("Please fill all the fields");
        }
        else {
            $("#errorDiv h5").html("");
        }
        if((dur1 < 5 || dur1 > 30) || (dur2 < 5 || dur2 > 30)) {
            error = true;
            $("#errorDiv h5").html("Duration has to be between 5-30(min)");
        }
        if(error==false) {
            $("#errorDiv h5").html("");
            $.ajax({
                url: "/mentor/checkAvailability/",
                data: {"date1":date1,
                    "date2":date2,
                    "time1":time1,
                    "time2":time2,
                    "dur1":dur1,
                    "dur2":dur2,
                    "csrfmiddlewaretoken": '{{  csrf_token }}',
                    "mentor_id":{{ mentor_id }},
                    "mentee_id":{{ user.id }},
                    "call_type": $("#callType").val()
                },
                type: "post",
                dataType: "json",
                success: function(data) {
                    $(".statusSign").remove();
                    //show step 3 if both dates are available
                    if(data["1"] == true && data["2"] == true) {
                        $("#step3").show();
                    }

                    $("#step3").show();
                    //check and highlight the time and date which is available
                    if(data["1"] == true) {
                        $("#timeBox1").css({"border":"1px solid #00C78C","cursor":"pointer"});
                        $("#timeBox1").append('<i class="fa fa-check-circle icon-3x statusSign"></i>');
                        $("#timeBox1").addClass("clickable");
                        $("#timeBox1").addClass("hoverColor");
                    }
                    else {
                        $("#timeBox1").css({"border":"1px solid #ff1919"});
                        $("#timeBox1").append('<i class="fa fa-minus-circle icon-3x statusSign"></i>');
                        $("#timeBox1").removeClass("clickable")
                        $("#timeBox1").removeClass("hoverColor");;
                    }

                    if(data["2"] == true) {
                        $("#timeBox2").css({"border":"1px solid #00C78C"});
                        $("#timeBox2").append('<i class="fa fa-check-circle icon-3x statusSign"></i>');
                        $("#timeBox2").addClass("clickable hoverColor");
                    }
                    else {
                        $("#timeBox2").css({"border":"1px solid #ff1919"});
                        $("#timeBox2").append('<i class="fa fa-minus-circle icon-3x statusSign"></i>');
                        $("#timeBox2").removeClass("clickable");
                        $("#timeBox2").removeClass("hoverColor");;

                    }
                    $(".clickable").click(function(event) {
                        if(event.target.tagName.toUpperCase() != 'INPUT') {
                            $(this).addClass("green-bg")
                            var inputs = $(this).children("input");
                            var dateTime = inputs[0].value.split(" ");
                            $.ajax({
                                url: "/mentor/send-request/",
                                data: {
                                    "date":dateTime[0],
                                    "time":dateTime[1],
                                    "callType": $("#callType").val(),
                                    "duration":inputs[1].value,
                                    "csrfmiddlewaretoken":'{{ csrf_token }}',
                                    "mentor_id": {{ mentor_id }},
                                    "mentee_id": {{ user.id }},
                                    "call_type": $("#callType").val()
                                },
                                type: "post",
                                dataType: "json",
                                success: function(data) {
                                    if(data['error'] == false) {
                                        $("#scheduleDiv").html(data['msg']);
                                        $("#scheduleDiv").addClass("textCenter");
                                    }
                                    else {
                                        $("#errorDiv").html(data["msg"]);
                                    }
                                }

                            });

                        }


                    });
                }
            });
        }

    });



</script>
<script>
    (function() {

        function extend( a, b ) {
            for( var key in b ) {
                if( b.hasOwnProperty( key ) ) {
                    a[key] = b[key];
                }
            }
            return a;
        }

        function SVGButton( el, options ) {
            this.el = el;
            this.options = extend( {}, this.options );
            extend( this.options, options );
            this.init();
        }

        SVGButton.prototype.options = {
            speed : { reset : 800, active : 150 },
            easing : { reset : mina.elastic, active : mina.easein }
        };

        SVGButton.prototype.init = function() {
            this.shapeEl = this.el.querySelector( 'span.morph-shape' );

            var s = Snap( this.shapeEl.querySelector( 'svg' ) );
            this.pathEl = s.select( 'path' );
            this.paths = {
                reset : this.pathEl.attr( 'd' ),
                active : this.shapeEl.getAttribute( 'data-morph-active' )
            };

            this.initEvents();
        };

        SVGButton.prototype.initEvents = function() {
            this.el.addEventListener( 'mousedown', this.down.bind(this) );
            this.el.addEventListener( 'touchstart', this.down.bind(this) );

            this.el.addEventListener( 'mouseup', this.up.bind(this) );
            this.el.addEventListener( 'touchend', this.up.bind(this) );

            this.el.addEventListener( 'mouseout', this.up.bind(this) );
        };

        SVGButton.prototype.down = function() {
            this.pathEl.stop().animate( { 'path' : this.paths.active }, this.options.speed.active, this.options.easing.active );
        };

        SVGButton.prototype.up = function() {
            this.pathEl.stop().animate( { 'path' : this.paths.reset }, this.options.speed.reset, this.options.easing.reset );
        };

        [].slice.call( document.querySelectorAll( 'button.button--effect-1' ) ).forEach( function( el ) {
            new SVGButton( el );
        } );

        [].slice.call( document.querySelectorAll( 'button.button--effect-2' ) ).forEach( function( el ) {
            new SVGButton( el, {
                speed : { reset : 650, active : 650 },
                easing : { reset : mina.elastic, active : mina.elastic }
            } );
        } );

    })();
</script>
{% endblock %}