{% extends 'mentee/base.html' %}
{% load static %}
{%  block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/mentee/search.css' %} " type="text/css" />
{% endblock %}

{%  block container_title %}
<h1>Search Results</h1>
{% endblock %}
{% block container_block %}

     <p>Your query "{{ search_query }}" has returned {{ mentors.count }} result{{ mentors|pluralize }}</p>
    <div class="container">
        <div class="row">
            {% for mentor in mentors %}
                 <div class="col-xs-3 textCenter margin-top-mid">
                     <div class="tiles white textCenter">
                        <img src="{{ mentor.picture }}" class="img-circle img-responsive"/>
                         <h3><a href="/mentor/get-profile/{{ mentor.id }}/">{{ mentor.first_name }} {{ mentor.last_name}}</a></h3>
                         {% if mentor.college %}
                         {{ mentor.college }}<br>
                         {% else %}
                         College not specified<br>
                         {% endif %}
                         {{ mentor.city }},
                         {{ mentor.country }}
                     </div>
                 </div>
             {% endfor %}
        </div>
    </div>
{% endblock %}
