/* for image crop */
.modal-backdrop {
    z-index: 1 !important;
}
.fade.in {
    opacity: 1 !important;
}
.modal {
    z-index: 10000 !important;
}
#target {
	display: none;
	visibility: hidden;
	margin: 0 auto;
	max-width: 300px;
	max-height: 800px;
}
#preview {
	display: none;
	visibility: hidden;
}
#uncroppedPic {
	border-color: blue;
	box-shadow: blue 0px 0px 10px;
}
.error {
	color: red;
	font-weight: 400;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.fileUpload input.resumeUpload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* CUSTOM */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


#id_picture {
    display: none;
    visibility: hidden;
}
.edit-pic {
    max-width: 100px;
    max-height: 100px;
}
.mg-left-s {
    margin-left: 20px;
}
.center {
    display: inline-block;
    margin: 0 auto;
}
.cbp-mc-form {
        z-index: 5;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.page-content {
    background-color: white;
}



    /* form taken from http://tympanus.net/codrops/2013/06/06/responsive-multi-column-form/ */

    .cbp-mc-form {
        position: relative;
    }

    /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
    .cbp-mc-form:before,
    .cbp-mc-form:after {
        content: " "; display: table;
    }

    .cbp-mc-form:after {
        clear: both;
    }

    .cbp-mc-column {
        width: 33%;
        padding: 10px 30px;
        float: left;
    }

    .cbp-mc-form label {
        display: block;
        padding: 40px 5px 5px 2px;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        color: #362819;
    }

    .cbp-mc-form input,
    .cbp-mc-form textarea,
    .cbp-mc-form select {
        font-family: 'Lato', Calibri, Arial, sans-serif;
        line-height: 1.5;
        font-size: 1.4em;
        padding: 5px 10px;
        color: black;
        display: block;
        width: 100%;
        background: transparent;
    }

    .cbp-mc-form input,
    .cbp-mc-form select,
    .cbp-mc-form textarea {
        border: 1px solid black;
        border-radius: 0px;

    }

    .cbp-mc-form textarea {
        min-height: 200px;
    }

    .cbp-mc-form input:focus,
    .cbp-mc-form textarea:focus,
    .cbp-mc-form label:active + input,
    .cbp-mc-form label:active + textarea {
        outline: none;
        border: 1px solid #8B8B83;
        background-color: rgba(255, 125, 26, 0.92);
    }

    .cbp-mc-form select:focus {
        outline: none;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #10689a;
        font-style: italic;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #10689a;
        font-style: italic;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #10689a;
        font-style: italic;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #10689a;
        font-style: italic;
    }

    .cbp-mc-submit-wrap {
        text-align: center;
        padding-top: 40px;
        clear: both;
    }

    .cbp-mc-form input.cbp-mc-submit {
        background: #10689a;
        border: none;
        color: #fff;
        width: auto;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
        padding: 15px 30px;
        font-size: 1.1em;
        border-radius: 2px;
        letter-spacing: 1px;
    }

    .cbp-mc-form input.cbp-mc-submit:hover {
        background: #ff5310;
    }

    @media screen and (max-width: 70em) {
        .cbp-mc-column {
            width: 50%;
        }
        .cbp-mc-column:nth-child(3) {
            width: 100%;
        }
    }

    @media screen and (max-width: 48em) {
        .cbp-mc-column {
            width: 100%;
            padding: 10px;
        }
    }