h1 {
	font-size: 50px;
}
/*custom font*/
.left {
	text-align: left;
}
.float {
	float: left;
	width: 48%;
	margin-right: 2%;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*basic reset*/
* {
	margin: 0;
	padding: 0;
}
html {
	/*background = gradient + image pattern combo*/
	background: url('/static/img/img.svg');
	background-size: cover;
	width: auto;


}
body {
	padding: 40px;
	text-align: center;
	font-family: montserrat, arial, verdana;
	background-color: transparent;

}
#uncroppedPic {
	margin: 0 auto;
}
/*form styles*/
#msform {
	width: 600px;
	margin: 0px auto;
	text-align: center;
	position: relative;
	line-height: 1em;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
label {
	position: relative;
	left: 0;
	font-weight: 400;
	font-size: 17px;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 20px;
}
#resume {
	font-size: 15px !important; 
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	color: white;
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
.pb {
	margin-left: 24%;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	width: 50%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
	background: #27AE60;
	color: white;
}

#target {
	display: none;
	visibility: hidden;
	margin: 0 auto;
	max-width: 300px;
	max-height: 800px;
}
#preview {
	display: none;
	visibility: hidden;
}
#uncroppedPic {
	border-color: blue;
	box-shadow: blue 0px 0px 10px;
}
.error {
	color: red;
	font-weight: 400;
}