html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
footer {
    padding: 0px;
}
.social-nav {
    padding-top: 0px !important;
    padding-bottom: 0px;
    list-style: none !important;
    display: inline-block !important;
    position: relative;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    padding-left: 0px !important;
}
.social-nav li {
  display: inline-block !important;
}
.social-nav a {
  display: inline-block !important;
  float: left !important;
  width: 48px !important;
  height: 48px !important;
  font-size: 20px !important;
  color: #FFF !important;
  text-decoration: none !important;
  cursor: pointer !important;
  text-align: center !important;
  line-height: 48px !important;
  background: #000 !important;
  position: relative !important;
  -moz-transition: 0.5s !important;
  -o-transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}
.model-2 a {
  overflow: hidden !important;
  font-size: 26px !important;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  margin: 0 5px !important;
}
.model-2 a:hover {
  background: #fff !important;
  text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4 !important;
}
.model-2 .twitter {
  background: #00ACED !important;
  text-shadow: 0px 0px #0087ba, 1px 1px #0087ba, 2px 2px #0087ba, 3px 3px #0087ba, 4px 4px #0087ba, 5px 5px #0087ba, 6px 6px #0087ba, 7px 7px #0087ba, 8px 8px #0087ba, 9px 9px #0087ba, 10px 10px #0087ba, 11px 11px #0087ba, 12px 12px #0087ba, 13px 13px #0087ba, 14px 14px #0087ba, 15px 15px #0087ba, 16px 16px #0087ba, 17px 17px #0087ba, 18px 18px #0087ba, 19px 19px #0087ba, 20px 20px #0087ba, 21px 21px #0087ba, 22px 22px #0087ba, 23px 23px #0087ba, 24px 24px #0087ba, 25px 25px #0087ba, 26px 26px #0087ba, 27px 27px #0087ba, 28px 28px #0087ba, 29px 29px #0087ba, 30px 30px #0087ba !important;
}
.model-2 .twitter:hover {
  color: #00ACED !important;
}
.model-2 .facebook {
  background: #3B579D !important;
  text-shadow: 0px 0px #2d4278, 1px 1px #2d4278, 2px 2px #2d4278, 3px 3px #2d4278, 4px 4px #2d4278, 5px 5px #2d4278, 6px 6px #2d4278, 7px 7px #2d4278, 8px 8px #2d4278, 9px 9px #2d4278, 10px 10px #2d4278, 11px 11px #2d4278, 12px 12px #2d4278, 13px 13px #2d4278, 14px 14px #2d4278, 15px 15px #2d4278, 16px 16px #2d4278, 17px 17px #2d4278, 18px 18px #2d4278, 19px 19px #2d4278, 20px 20px #2d4278, 21px 21px #2d4278, 22px 22px #2d4278, 23px 23px #2d4278, 24px 24px #2d4278, 25px 25px #2d4278, 26px 26px #2d4278, 27px 27px #2d4278, 28px 28px #2d4278, 29px 29px #2d4278, 30px 30px #2d4278 !important;
}
.model-2 .facebook:hover {
  color: #3B579D !important;
}
.model-2 .google-plus {
  background: #DD4A3A !important;
  text-shadow: 0px 0px #c23122, 1px 1px #c23122, 2px 2px #c23122, 3px 3px #c23122, 4px 4px #c23122, 5px 5px #c23122, 6px 6px #c23122, 7px 7px #c23122, 8px 8px #c23122, 9px 9px #c23122, 10px 10px #c23122, 11px 11px #c23122, 12px 12px #c23122, 13px 13px #c23122, 14px 14px #c23122, 15px 15px #c23122, 16px 16px #c23122, 17px 17px #c23122, 18px 18px #c23122, 19px 19px #c23122, 20px 20px #c23122, 21px 21px #c23122, 22px 22px #c23122, 23px 23px #c23122, 24px 24px #c23122, 25px 25px #c23122, 26px 26px #c23122, 27px 27px #c23122, 28px 28px #c23122, 29px 29px #c23122, 30px 30px #c23122 !important;
}
.model-2 .google-plus:hover {
  color: #DD4A3A !important;
}
.model-2 .linkedin {
  background: #007BB6 !important;
  text-shadow: 0px 0px #005983, 1px 1px #005983, 2px 2px #005983, 3px 3px #005983, 4px 4px #005983, 5px 5px #005983, 6px 6px #005983, 7px 7px #005983, 8px 8px #005983, 9px 9px #005983, 10px 10px #005983, 11px 11px #005983, 12px 12px #005983, 13px 13px #005983, 14px 14px #005983, 15px 15px #005983, 16px 16px #005983, 17px 17px #005983, 18px 18px #005983, 19px 19px #005983, 20px 20px #005983, 21px 21px #005983, 22px 22px #005983, 23px 23px #005983, 24px 24px #005983, 25px 25px #005983, 26px 26px #005983, 27px 27px #005983, 28px 28px #005983, 29px 29px #005983, 30px 30px #005983 !important;
}
.model-2 .linkedin:hover {
  color: #007BB6 !important;
}
.iconRounded {
    background: #ffc0c0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}
.socialNetwork {
    list-style: none;
}
p {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #505458;
}
.footer {
    min-height: 100px;
    padding: 10px;
}
.modal-header {
    border-bottom: none;
}
.translucent {
    opacity: 0.5;
}
.hide {
    display: none;
    visibility: hidden;
}
#signUpError,#loginError {
    margin-bottom: 25px;
}
.loginForm .group {
	width: 100%;
}
.row {
	background-color: white;
}
.dark {
	background-color: rgba(111, 123, 138,0.1);
}
.black {
    color: black;
}
.img-1 {
	width: 70%;
	height: 70%;
    box-shadow: 0 4px 2px -3px;
}
.img-2 {
	max-width: 300px;
	max-height: 300px;
    box-shadow: 0 4px 2px -3px;
}
.img-3 {
	max-width: 300px;
	max-height: 300px;
}
.img-4 {
	max-width: 400px;
	max-height: 400px;
    box-shadow: 0 4px 2px -3px;
}
.center {
	margin: 0 auto;
}
.textCenter {
	text-align: center;
}
.textLeft {
    text-align: left;
}
.textRight {
    text-align: right;
}
.pad-s {
	padding: 30px;
}
.pad-l {
    padding: 60px;
}
.tp-caption {
	text-align: center;
}
.modal-content {
	border: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;

}
.modal-title, .modal-body{
	text-align: center;
}

#signUpButton {
	position: relative !important;
	margin: 5px auto !important;
	min-width: 150px;
	background-color: rgba(255,64,129,1.0) !important;
	border-color: #CCC !important;
	border: 0px none;
	color: #FFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26) !important;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	outline: 0px none !important;
	font-weight: normal;
	text-align: center;
	font-size: 15px;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	transition: all 1s ease !important;
	background: linear-gradient(to right, #FF4081 50%, #3F51B5 50%) !important;
	background-size: 200% 100% !important;
	background-position:left bottom !important;
}
#signUpButton:hover {
	background-position: right bottom !important;
}

#loginButton {
	position: relative !important;
	margin: 5px auto !important;
    margin-right: 10px !important;
	min-width: 150px;
	background-color: rgba(255,64,129,1.0) !important;
	border-color: #CCC !important;
	border: 0px none;
	color: #FFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26) !important;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	outline: 0px none !important;
	font-weight: normal;
	text-align: center;
	font-size: 15px;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	transition: all 1s ease !important;
	background: linear-gradient(to right, #0aa699 50%, #3F51B5 50%) !important;
	background-size: 200% 100% !important;
	background-position:left bottom !important;
}
#loginButton:hover {
	background-position: right bottom !important;
}

.textCenter {
	text-align: center !important;
}

/* Sign Up form */
.signUpForm {
	width: 90%;
	margin: 0 auto;
	padding: 2em 2em 1em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.signUpForm .group { 
	position: relative; 
	margin-bottom: 45px; 
	width: 50%;
	float: left;
	padding-right: 5%;
}

.signUpForm input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.signUpForm input:focus { outline: none; }


/* Label */

.signUpForm label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

.signUpForm input:focus ~ label,.signUpForm input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.signUpForm input:focus ~ .bar:before,.signUpForm input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.signUpForm input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.signUpForm .button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 2px solid #373737;
  cursor: pointer;
  transition: all 0.15s ease;
}
.signUpForm .button:focus { outline: 0; }

.signUpLinkedIn i, .signUpFacebook i {
	position: relative;
	float: left;
	vertical-align: middle !important;
	width: 50px;
	padding: 5px;
}

.signUpLinkedIn {
    padding: 0px !important;
    background: #0976b4;
    text-shadow: 2px 2px 0 rgba(39, 110, 204, .5);
}
.signUpLinkedIn:hover {
    opacity: 0.8;
}
.signUpFacebook {
    padding: 0px !important;
    background: #3b5998 !important;
    text-shadow: 2px 2px 0 rgba(39, 110, 204, .5);
}
.signUpFacebook:hover {
    opacity: 0.8;
}
/* Button modifiers */

.buttonBlue {
  background: #449a88;
  text-shadow: 2px 2px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #449a88; opacity: 0.8; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}



/* Login form */
#loginModal .modal-body{
	background: none;
}
.loginForm {
	width: 70%;
	margin: 0 auto;
	padding: 3em 2em 1em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.loginForm .group { 
	position: relative; 
	margin-bottom: 45px; 
	width: 100%;
	float: left;
	padding-right: 5%;
}

.loginForm input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.loginForm input:focus { outline: none; }


/* Label */

.loginForm label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

.loginForm input:focus ~ label,.loginForm input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.loginForm input:focus ~ .bar:before,.loginForm input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.loginForm input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.loginForm .button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.loginForm .login-linkedin {
	position: relative;
  display: inline-block;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle !important;
  color: #fff;
  font-size: 16px !important;
  line-height: 20px !important;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  border: 0px !important;
  border-bottom: 2px solid #3160B6 !important;
  cursor: pointer;
  transition: all 0.15s ease;
    background: #4a89dc;
  text-shadow: 2px 2px 0 rgba(39, 110, 204, .5);
}
.loginForm .button:focus { outline: 0; }

.login-linkedin i {
	position: relative;
	float: left;
	vertical-align: middle !important;
	width: 50px;
	padding: 5px;
}
.socialButtonLabel {
    position: relative;
    top: 10px;
	margin-top: 15px !important;
	margin-bottom: 10px !important;

}


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}