
/* The loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  
  width: 200px;
  height: 200px;
  
  margin-top: -100px;
  margin-left: -100px;
  
  perspective: 600px;
  transform-style: perserve-3d;
  -webkit-transform-style: perserve-3d;
}

/* The dots */
.dots {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  perspective: 600px;
  transform-style: perserve-3d;
  -webkit-transform-style: perserve-3d;

  animation: dots 6000ms cubic-bezier(0,0,1,1) infinite;
  -webkit-animation: dots 6000ms cubic-bezier(0,0,1,1) infinite;

}

@keyframes dots {
  0%, 15% {
    transform: rotateZ(0deg);
  }
  25%, 40% {
    transform: rotateZ(90deg);
  }
  50%, 65% {
    transform: rotateZ(180deg);
  }
  75%, 90% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes dots {
  0%, 15% {
    transform: rotateZ(0deg);
  }
  25%, 40% {
    transform: rotateZ(90deg);
  }
  50%, 65% {
    transform: rotateZ(180deg);
  }
  75%, 90% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* The dot */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 20px;
  height: 20px;
  
  margin-top: -10px;
  margin-left: -10px;
  
  border-radius: 999px;
  
  background-color: #1e3f57;
  
  transform-style: perserve-3d;
  -webkit-transform-style: perserve-3d;

  animation: dot 1500ms cubic-bezier(.7,.05,.39,.88) infinite;
  -webkit-animation: dot 1500ms cubic-bezier(.7,.05,.39,.88) infinite;
}

.dot:nth-child(1) {
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
}

.dot:nth-child(2) {
  transform: translateX(-20px) translateY(-20px);
  animation-name: dot2;

  -webkit-transform: translateX(-20px) translateY(-20px);
  -webkit-animation-name: dot2;
}

.dot:nth-child(3) {
  transform: translateX(20px) translateY(-20px);
  animation-name: dot3;

  -webkit-transform: translateX(20px) translateY(-20px);
  -webkit-animation-name: dot3;
}

.dot:nth-child(4) {
  transform: translateX(-40px) translateY(0px);
  animation-name: dot4;

  -webkit-transform: translateX(-40px) translateY(0px);
  -webkit-animation-name: dot4;
}

.dot:nth-child(5) {
  transform: translateX(0px) translateY(0px);
  animation-name: dot5;

  -webkit-transform: translateX(0px) translateY(0px);
  -webkit-animation-name: dot5;
}

.dot:nth-child(6) {
  transform: translateX(40px) translateY(0px);
  animation-name: dot6;

  -webkit-transform: translateX(40px) translateY(0px);
  -webkit-animation-name: dot6;
}

.dot:nth-child(7) {
  transform: translateX(-20px) translateY(20px);
  animation-name: dot7;

  -webkit-transform: translateX(-20px) translateY(20px);
  -webkit-animation-name: dot7;
}

.dot:nth-child(8) {
  transform: translateX(20px) translateY(20px);
  animation-name: dot8;

  -webkit-transform: translateX(20px) translateY(20px);
  -webkit-animation-name: dot8;
}

.dot:nth-child(9) {
  transform: translateX(0px) translateY(40px);
  animation-name: dot9;

  -webkit-transform: translateX(0px) translateY(40px);
  -webkit-animation-name: dot9;
}

@keyframes dot {
  0% {
    transform: translateX(0) translateY(-40px);
  }
  10%, 20% {
    transform: translateX(20px) translateY(-20px);
  }
  30%, 50% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot2 {
  0% {
    transform: translateX(-20px) translateY(-20px);
  }
  10%, 55% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot4 {
  0% {
    transform: translateX(-40px) translateY(0px);
  }
  10%, 30% {
    transform: translateX(-20px) translateY(20px);
  }
  40%, 65% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot6 {
  0%, 10% {
    transform: translateX(40px) translateY(0px);
  }
  20% {
    transform: translateX(20px) translateY(-20px);
  }
  30%, 70% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot8 {
  0%, 10% {
    transform: translateX(20px) translateY(20px);
  }
  20%, 80% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot9 {
  0%, 10% {
    transform: translateX(0px) translateY(40px);
  }
  20%, 30% {
    transform: translateX(-20px) translateY(20px);
  }
  40%, 85% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot3 {
  0%, 20% {
    transform: translateX(20px) translateY(-20px);
  }
  30%, 60% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes dot7 {
  0%, 30% {
    transform: translateX(-20px) translateY(20px);
  }
  40%, 75% {
    transform: translateX(0px) translateY(0px);
  }
}


/* Chrome,Opera,Safari */
@-webkit-keyframes dot {
  0% {
    -webkit-transform: translateX(0) translateY(-40px);
  }
  10%, 20% {
    -webkit-transform: translateX(20px) translateY(-20px);
  }
  30%, 50% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot2 {
  0% {
    -webkit-transform: translateX(-20px) translateY(-20px);
  }
  10%, 55% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot4 {
  0% {
    -webkit-transform: translateX(-40px) translateY(0px);
  }
  10%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
  }
  40%, 65% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot6 {
  0%, 10% {
    -webkit-transform: translateX(40px) translateY(0px);
  }
  20% {
    -webkit-transform: translateX(20px) translateY(-20px);
  }
  30%, 70% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot8 {
  0%, 10% {
    -webkit-transform: translateX(20px) translateY(20px);
  }
  20%, 80% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot9 {
  0%, 10% {
    -webkit-transform: translateX(0px) translateY(40px);
  }
  20%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
  }
  40%, 85% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot3 {
  0%, 20% {
    -webkit-transform: translateX(20px) translateY(-20px);
  }
  30%, 60% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

@-webkit-keyframes dot7 {
  0%, 30% {
    -webkit-transform: translateX(-20px) translateY(20px);
  }
  40%, 75% {
    -webkit-transform: translateX(0px) translateY(0px);
  }
}

/* loader finished */

/* Sign in buttons */

.nav {
    position:absolute;
    left:0;
    right:0;
    top: 95%;
    margin-left:auto;
    margin-right:auto;  
}

/* Sign in form */

.form {
  margin-top: 5%;
  margin: 0 auto;
}
.form .field {
  position: relative;
  margin-bottom: 20px;
  height: 40px;
}
.form .field .placeholder-label {
  position: absolute;
  top: 14px;
  left: 12px;
  font-weight: 300;
  color: #aaa;
  transition: all 0.25s;
}
.form .field .placeholder-label:after {
  content: ":";
  opacity: 0;
  color: #333;
  transition: all 0.25s;
}
.form .field .placeholder-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  color: black;
  font-size: 16px;
  transition: all 0.25s;
}
.form .field .placeholder-input:focus, .form .field .placeholder-input.not-empty {
  margin-left: 100px;
  width: 220px;
  outline: none;
}
.form .field .placeholder-input:focus + .placeholder-label, .form .field .placeholder-input.not-empty + .placeholder-label {
  color: #333;
  cursor: default;
}
.form .field .placeholder-input:focus + .placeholder-label:after, .form .field .placeholder-input.not-empty + .placeholder-label:after {
  opacity: 1;
}

/***** SIGN IN FORM OVER*******/

/* HEADER CSS 

.grid {
  text-align: center;
}
.grid li {
  display: inline;
}
.grid li span {
    display: inline-block;
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    position: relative;
    color: hsla(0, 0%, 0%, 0.6);
    transform-style: preserve-3d;
    perspective: 550px;
    z-index: 1;
}

.grid li span:before,
.grid li span:after {
    position: absolute;
    content: attr(data-letter);
    line-height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: all 0.3s;
}
 
.grid li span:before {
    text-shadow: none;
    color: hsla(0, 0%, 0%, 0.12);
}

.ot-letter-left span:before,
.ot-letter-left span:after {
    transform-origin: 0 50%;
}

.ot-letter-left span:before {
    transform: scale(1.08, 1) skew(0deg, 1deg);
}
 
.ot-letter-left span:after {
    text-shadow: 
        -1px 0px 0px hsla(360, 100%, 100%, 0.1), 
        3px 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: rotateY(-15deg);
}

.ot-letter-left:hover span:before {
    transform: scale(0.85,1) skew(0deg,20deg);
}
 
.ot-letter-left:hover span:after {
    transform: rotateY(-40deg);
}

.ot-letter-left { 
}
 
.ot-letter-left span { 
    text-shadow: 
        1px 4px 6px #e74d3c, 
        0 0 0 hsla(0, 0%, 0%, 0.3), 
        1px 4px 6px #e74d3c; 
}
 
.ot-letter-left span:after { 
    color: #e74d3c; 
}
 
.ot-letter-left:hover span:after { 
    color: #ea6253; 
}
*/

/* SUBMIT button effect */

/* tympanus.net/codrops/CreativeLinkEffects/ */

/* Effect 7: second border slides up */
.cl-effect-7 {
  font-family:Raleway, sans-serif;
}
.cl-effect-7 button {
  padding: 12px 10px 10px;
  color: #566473;
  text-shadow: none;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.cl-effect-7 button:hover,
.cl-effect-7 button:focus {
  background-color: transparent;

}
.cl-effect-7 button::before,
.cl-effect-7 button::after {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  height: 3px;
  background: #566473;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.cl-effect-7 button::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 button:hover::before,
.cl-effect-7 button:hover::after,
.cl-effect-7 button:focus::before,
.cl-effect-7 button:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.cl-effect-7 button:hover::after,
.cl-effect-7 button:focus::after {
  top: 75%;
  opacity: 1;

}

/* Stuff I added */
  .menu-outer:hover ~ .menu-close {
    margin-right:-100px;
  }
  .menu-outer:hover .bar { background:rgba(100,200,240,.9); }
  .menu-outer > #nav2 ul { top:15%; }

  /* The rest I chnaged parts but not most of it */

  .menu-outer {
    overflow: hidden;
    position: fixed;
    top: 0;
    font-family: 'Montserrat', serif;
    z-index: 998;  
    width: 100%;
    left: 100%;
    margin-left: -100px;
    height: 200%;
    background: rgba(100,200,240,.9); 
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; 
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-outer:hover {
    background: rgba(100,200,240,.98);
    left: 0;
    margin-left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .menu-icon {
    z-index: 999;
    position: absolute;
    top: 58px;
    left: 15px;
    width: 30px;
    pointer-events: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-icon .bar {
    background: rgba(250,250,250,1);
    width: 100%;
    height: 5px;
    margin: 0 0 5px;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-outer:hover > .menu-icon {
    opacity: 0;
  }
  #nav2 ul {
    position:absolute;
    width:100%;
    padding: 0;
    left: 10%; /*prevents possible click when not oppened*/
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-outer:hover > #nav2 ul {
    left: 0;
  }
  #nav2 li {
    list-style:none;
    text-align: center;
    text-transform: uppercase;
  }
  #nav2 li a {
    font-size: 2em;
    color: rgba(25,25,25,.8);
    text-decoration: nones;
    margin: 0 auto;
    padding: 20px;
    display:block;
    border-bottom-style: solid;
    border-bottom-color: rgba(100,200,240,.98);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  #nav2 li a:hover {
    color: rgba(250,250,250,1);
  }
  .link {
    margin: 0 auto;
    width: 100%;
  }
  @media screen and (max-width: 600px), screen and (max-height: 600px) {
    #nav2 ul {font-size:.75em;}
    #nav2 ul a {padding: 10px;}
  }
  .menu-close {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 100%;
    width: 200px;
    height: 200px;
    background: rgba(250,130,70,1);
    cursor: pointer;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu-close .menu-icon {
    right: 15px; left: auto;top: 68px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-close .bar {
    background: rgba(250,250,250,1);
    width: 100%;
    height: 5px;
    position:absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
  }
  .menu-close .bar:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu-close .bar:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }