.row {
  position: relative;
  top: 100px; 
  bottom: 0px;
}
.nav {
    position:absolute;
    left:0;
    right:0;
    top: 95%;
    margin-left:auto;
    margin-right:auto;  
}

/* Sign in form */

.form {
  position: relative;
  top: 10px;
  width: 50%;
  margin: 0 auto;
}
.form .form-group {
  position: relative;
  margin-bottom: 40px;
  height: 10px;
  width: 100%;
}

.signUp {
  position: relative;
  top: 10px;
  width: 50%;
  margin: 0 auto;
}

.modal {
  color: black;
  text-align: center;
}

.page2 {
  background: url('/static/img/img1.jpg');
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%

}
.scrolerBack {
    margin: 0px auto;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 1px solid white;
    color: transparent;
}
.signUpArrow {
  color: white;
  text-decoration: none;
}
/* tympanus.net/codrops/CreativeLinkEffects/ */

/* Effect 7: second border slides up */
.cl-effect-7 {
  font-family:Raleway, sans-serif;
}
.cl-effect-7 button {
  padding: 12px 10px 10px;
  color: #566473;
  text-shadow: none;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}
.cl-effect-7 button:hover,
.cl-effect-7 button:focus {
  background-color: transparent;

}
.cl-effect-7 button::before,
.cl-effect-7 button::after {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  height: 3px;
  background: #566473;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.cl-effect-7 button::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 button:hover::before,
.cl-effect-7 button:hover::after,
.cl-effect-7 button:focus::before,
.cl-effect-7 button:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.cl-effect-7 button:hover::after,
.cl-effect-7 button:focus::after {
  top: 75%;
  opacity: 1;

}

/* Stuff I added */
  .menu-outer:hover ~ .menu-close {
    margin-right:-100px;
  }
  .menu-outer:hover .bar { background:rgba(100,200,240,.9); }
  .menu-outer > #nav2 ul { top:15%; }

  /* The rest I chnaged parts but not most of it */

  .menu-outer {
    overflow: hidden;
    position: fixed;
    top: 0;
    font-family: 'Montserrat', serif;
    z-index: 998;  
    width: 100%;
    left: 100%;
    margin-left: -100px;
    height: 200%;
    background: rgba(100,200,240,.9); 
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; 
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-outer:hover {
    background: rgba(100,200,240,.98);
    left: 0;
    margin-left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .menu-icon {
    z-index: 999;
    position: absolute;
    top: 58px;
    left: 15px;
    width: 30px;
    pointer-events: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-icon .bar {
    background: rgba(250,250,250,1);
    width: 100%;
    height: 5px;
    margin: 0 0 5px;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-outer:hover > .menu-icon {
    opacity: 0;
  }
  #nav2 ul {
    position:absolute;
    width:100%;
    padding: 0;
    left: 10%; /*prevents possible click when not oppened*/
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .menu-outer:hover > #nav2 ul {
    left: 0;
  }
  #nav2 li {
    list-style:none;
    text-align: center;
    text-transform: uppercase;
  }
  #nav2 li a {
    font-size: 2em;
    color: rgba(25,25,25,.8);
    text-decoration: nones;
    margin: 0 auto;
    padding: 20px;
    display:block;
    border-bottom-style: solid;
    border-bottom-color: rgba(100,200,240,.98);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  #nav2 li a:hover {
    color: rgba(250,250,250,1);
  }
  .link {
    margin: 0 auto;
    width: 100%;
  }
  @media screen and (max-width: 600px), screen and (max-height: 600px) {
    #nav2 ul {font-size:.75em;}
    #nav2 ul a {padding: 10px;}
  }
  .menu-close {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 100%;
    width: 200px;
    height: 200px;
    background: rgba(250,130,70,1);
    cursor: pointer;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu-close .menu-icon {
    right: 15px; left: auto;top: 68px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .menu-close .bar {
    background: rgba(250,250,250,1);
    width: 100%;
    height: 5px;
    position:absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
  }
  .menu-close .bar:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .menu-close .bar:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
.socialIcon {
  display: inline;
  width: 10%;
  height: 10%;
}
.socialIcon:hover {
  opacity: 0.7;
}