{% extends 'mentor/base.html' %}
{% load static %}
{% block stylesheets %}
    <style>
    .tab-content {
        padding: 20px !important;
    }
    .basic-form input  {
        width: 50% !important;
    }
    .education-form {
        /*background-image: url("{% static 'img/geometry16.jpg' %}") !important;*/
        background-color: #81D4FA;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26) !important;
    }
    .education-form h3, education-form lable {
        color: black !important;
        line-height: 1 !important;
        margin-bottom: 0px !important;
    }
    .education-form .form-group {
        display: inline-block !important;
        margin: 5px;
    }
    .education-form input {

        background-color: transparent;
    }
    .employment-form label, .employment-form h3, .employment-form input {
        display: inline !important;
        max-width: 200px !important;
    }
    .nav-tabs {
        background-color: transparent !important;
    }
    .margin-s {
        margin-top: 10px !important;
    }
    .tab-form {
        margin: 0px auto;
    }
    .cnt {
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }
    </style>
{%  endblock %}
{% block container_title %}<h2>Edit Profile</h2>{% endblock %}

{% block container_block %}
    <!--
   <a class="btn btn-primary margin-s" href="/accounts/linkedin/login/?method=oauth2&next=/mentor/get-data/">Get you data from your LinkedIn profile</a>
    -->
    <form id="tab-form">
    <div role="tabpanel" class="tab-form margin-s">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Basic</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Personal</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Education</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Employment</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            {% csrf_token %}
          <div class="basic-form center">
            {% for field in user_form %}

             <div class="form-group">
                <label class="form-label"><h4>{{ field.label }}</h4></label>
                    <br>
                  {{ field }}
              </div>
            {% endfor %}
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="profile">
            {% for field in form %}
             <div class="form-group">
                <label class="form-label"><h4>{{ field.label }}</h4></label>
                    <br>
                  {{ field }}
              </div>
            {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
            {% for edu_form in edu_formset %}
                <div class="row well education-form">
                {% for field in edu_form %}
                     <div class="form-group">
                        {% if field.label != 'Parent' and field.label != 'Id' %}
                        <h3>{{ field.label_tag }}</h3>
                            <br>
                         {% endif %}
                          {{ field }}
                      </div>
                {% endfor %}
                </div>
            {% endfor %}
        {{ edu_formset.management_form }}
        <a class="btn btn-primary cnt" id="addMoreEdu">Add a field</a>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">
            {% for emp_form in emp_formset %}
                <div class="row well employment-form form-inline">
                {% for field in emp_form %}
                     <div class="form-group">
                        {% if field.label != 'Parent' and field.label != 'Id' %}
                        <h3>{{ field.label_tag }}</h3>
                            <br>
                         {% endif %}
                          {{ field }}
                      </div>
                {% endfor %}
                </div>
            {% endfor %}
            {{ emp_formset.management_form }}
        <a class="btn btn-primary cnt" id="addMoreEmp">Add a field</a>
        </div>
      </div>

    </div>
    </form>
    <a class="btn btn-success btn-large center update"> Update</a>
{% endblock %}

{% block scripts %}
    <script src="{%  static 'morph/classie.js' %}"></script>
    <script>
        $('.update').click(function() {
            var data = $('#tab-form').serializeArray();
            $.ajax({
                url: '/mentor/edit-profile/',
                data: data,
                type: 'post',
                success: function() {
                    alert("maza a gaya");
                }
            });
        });
    </script>
    <script>
        /* http://stackoverflow.com/questions/501719/dynamically-adding-a-form-to-a-django-formset-with-ajax */
        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }

        $('#addMoreEdu').click(function() {
            cloneMore('.education-form:last', 'educationdetails_set');
        });

        $('#addMoreEmp').click(function() {
            cloneMore('.employment-form:last', 'employmentdetails_set');
        });

    </script>
{%  endblock %}
