{% extends 'mentor/base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="" />
{% endblock %}

{% block body_block %}
    {% if user and not user.is_anonymous  %} 
        <h1>Note: User can have more than 20 fields,missing fields only means user has not provided data!</h>
            <h3>Profile details</h3>
            <p>Name: {{ full_name }}</p>
            
            {% if gender %} 
                <p>Gender: {{ gender }}</p>
            {% endif %}

            {% if date_of_birth %}
                <p>Birth Date: {{ date_of_birth }}
            {% endif %}

            {% if email %}
                <p> Email:{{ email }} </p>
            {% endif %}
            
            {% if hometown %}
                <p>Home Town: {{ home_town }}</p>
            {% endif %}
     
            {% if location %}
            <p>Location:
                {{ location }}
            </p>
            {% endif %}

            {% if country %}
            <p>Country
                {{ country }}
            </p>
            {% endif %}
    
            {% if contact_number %}
            <p>Contact Number: {{ contact_number }} </p>
            {% endif %}

            {% if about %}
            <p>About: {{ about }} </p>
            {% endif %}

            {% if profile_url %}
                <p>Profile Link:
                    <ul>
                        <li><a href="{{ profile_url }}">{{ provider }} profile</a></li>
                    </ul>
                </p>
            {% endif %}

            {% if picture_url %}
                <p> Profile Pic:
                    <ul>
                        <li><img src="{{ picture_url }}"></img></li>
                    </ul>
                </p>
            {% endif %}

        {% if edu_list %}
        <p>Education Details
        <ul>
            {% for item in edu_list %}
            <li>institute: {{ item.inst }} <br />
                location: {{ item.loc }} <br />
                country: {{ item.coun }} <br />
                degree: {{ item.degree }}<br>
                branch: {{ item.branch }}<br>
                duration: {{ item.from }}-{{ item.to }} <br />
            </li>
            {% endfor %}
        </ul>
        </p>
        {%endif%}
        {% if edu_list %}
        <p>Employment Details
        <ul>
            {% for item in edu_list %}
            <li>Organization: {{ item.org }} <br />
                Location: {{ item.loc }} <br />
                Position: {{ item.pos }} <br />
                Period: {{ item.from }}-{{ item.to }}<br>
            </li>
            {% endfor %}
        </ul>
        </p>
        {%endif%}
    {% else %}
        <p>Please login to access profile</p>
    {% endif %}
    </div>
</div>
{% endblock %}
