@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.container {
  width: 500px;
  margin: 30px auto;
  background-color: #EFEFEF;
  padding: 4px;
  font-family: 'Roboto', Helvetica;
  color: #737373;
  font-weight: 300;
}

.inner {
  padding: 1em;
  background-color: white;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 20px;
  font-family: 'Roboto', Helvetica;
  color: #737373;
  font-weight: 300;
}

.rating {
  float: left;
  width: 45%;
  margin-right: 5%;
  text-align: center;
}

.rating-num {
  color: #333333;
  font-size: 72px;
  font-weight: 100;
  line-height: 1em;
}

.rating-stars {
  font-size: 20px;
  color: #E3E3E3;
  margin-bottom: .5em;
}
.rating-stars .active {
  color: #737373;
}

.rating-users {
  font-size: 14px;
}

.histo {
  float: left;
  width: 50%;
  font-size: 13px;
}

.histo-star {
  float: left;
  padding: 3px;

}

.histo-rate {
  width: 100%;
  display: block;
  clear: both;
}

.bar-block {
  margin-left: 5px;
  color: black;
  display: block;
  float: left;
  width: 75%;
  position: relative;
}

.bar {
  padding: 4px;
  display: block;
}

#bar-five {
  width: 0;
  background-color: #9FC05A;
}

#bar-four {
  width: 0;
  background-color: #ADD633;
}

#bar-three {
  width: 0;
  background-color: #FFD834;
}

#bar-two {
  width: 0;
  background-color: #FFB234;
}

#bar-one {
  width: 0;
  background-color: #FF8B5A;
}

.pad-m {
    padding: 20px;
}
.page-content {
	background: url(/static/img/bg11.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.highlight-blue:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}
.highlight-red {
  box-shadow: 0 0 5px rgba(255, 0, 0, 1) !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}
.date-picker {
	z-index: 104001;
}
.no-margin {
	margin: 0px !important; 
}
@media screen and ( min-width: 992px ) {
	.margin-left-3 {
		margin-left: 30px !important;
	}
}
.xdsoft_datetimepicker {
	position: absolute !important;
	z-index: 999999 !important;
}
.pd-s {
	padding: 5px !important;
	box-sizing: border-box;
}
.pd-l {
	padding: 15px;
}
.pd-xl {
	padding: 20px;
}
.mg-top-s {
	margin-top: 10px;
}
.mg-top-m {
	margin-top: 15px;
}
.mg-s {
	margin: 5px;
}
.bg-purple {
	background-color: #4A148C !important;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26) !important;

}
.txt-white {
	color: #fff !important;
}
.txt-m {
	font-size: 15px;
}
.line-ht-s {
	line-height: 50% !important;
}
.flatButton {
	display: block;
	margin: 5px auto !important;
	position: relative !important;
	max-width: 300px;
	width: 50%;
	min-width: 150px;
	background-color: rgba(255,64,129,1.0) !important;
	border-color: #CCC !important;
	border: 0px none;
	color: #FFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26) !important;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	outline: 0px none !important;
	font-weight: normal;
	text-align: center;
	font-size: 15px;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	transition: all 1s ease !important;
	background: linear-gradient(to right, #FF4081 50%, #3F51B5 50%) !important;
	background-size: 200% 100% !important;
	background-position:left bottom !important;
}
.modal {
	z-index: 104000 !important;
}
div .ptiles:hover {
	background-color: rgba(255, 87, 34, 0.7);
}
.textCenter {
	text-align: center;
}
.ptiles2 {
	border: none;
	padding: 10px;
	margin-bottom: 5px;
	color: black;
	transition: 1s;
	font-size: 15px;
}
.content {
	padding-top: 10px !important;
}
