{% extends 'user/base.html' %}
{% load socialaccount %}
{% block body_block %}
<h1>Welcome to Mentor Buddy</h1>
{% if not user.is_authenticated %}
<form action="/home/login/" method="POST">
	{% csrf_token %}
    <input type="text" name="username" id="username" placeholder="enter your username"></input>
    <input type="password" name="password" id="password" placeholder="enter your password"></input>
    <input type="submit" value="login" />
</form>
<a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook</a> <br>
<a href="{% provider_login_url "twitter" %}">Twitter</a><br>
<a href="{% provider_login_url "linkedin" method="oauth2" %}">LinkedIn</a><br>

<a href="/mentor/register/">Register as a Mentor</a><br>
<a href="/mentee/register/">Register as a Mentee</a>
{% else %}
	{% if user.user_profile.is_mentor == True %}
		<a href="/mentor/">Welcome mentor!Enter the site></a>
	{% else %}
		<a href="/mentee/">Welcome Mentee!Enter the site></a>
	{% endif %}
{% endif %}
{% endblock %}