
<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Mentor Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="MentorBuddy" name="author" />
    <link rel="stylesheet" type="text/css" href="{% static 'template/frontend/assets/plugins/headereffects/css/component.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'template/frontend/assets/plugins/headereffects/css/normalize.css' %}" />
    <!--<link href="{% static 'template/frontend/assets/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" media="screen"/>-->

    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
    <link href="{% static 'template/frontend/assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->

    <!-- BEGIN CSS TEMPLATE -->
    <link href="{% static 'template/frontend/assets/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'template/frontend/assets/css/responsive.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'template/frontend/assets/css/animate.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END CSS TEMPLATE -->

    <!-- jquery

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    -->
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}"></script>

     <script type="text/javascript" src="{% static 'template/frontend/assets/plugins/modernizr.custom.js' %}"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="{% static 'template/frontend/assets/plugins/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'template/frontend/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'template/frontend/assets/plugins/rs-plugin/css/settings.css' %}" media="screen" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/loginV3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-social-buttons/bootstrap-social.css' %}">

</head>
<!-- END HEAD -->
<body>

<!-- SIGN UP Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form class="signUpForm" method="POST" action="/user/register/" autocomplete="off">
                {% csrf_token %}
              <div id="signUpError">
              </div>
              <div class="group">
                <input type="text" name="fn" id="fn"><span class="highlight"></span><span class="bar"></span>
                <label>First Name</label>
              </div>
              <div class="group">
                <input type="text" name="ln" id="ln"><span class="highlight"></span><span class="bar"></span>
                <label>Last Name</label>
              </div>
              <div class="group">
                <input type="email" name="email" id="email"><span class="highlight"></span><span class="bar"></span>
                <label>Email</label>
              </div>
              <div class="group">
                <input type="text" name="college" id="college"><span class="highlight"></span><span class="bar"></span>
                <label>College/University</label>
              </div>
              <div class="group">
                <input type="text" name="city" id="city"><span class="highlight"></span><span class="bar"></span>
                <label>City</label>
              </div>
              
              <div class="group">
                <input type="text" name="country" id="country"><span class="highlight"></span><span class="bar"></span>
                <label>Country</label>
              </div>
              
              
              <button type="submit" class="button buttonBlue singUpButton">
                  <i class="fa fa-spinner hide fa-pulse"></i>
                  <span class="signUpText">SIGN UP!</span>
              </button>
                <h5><span class="black">or sign up with:</span></h5>
                <ul class="social-nav model-2" >
                  <li style="display:inline-block;"><a href="{% provider_login_url "facebook" process="connect" method="oauth2" %}" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                  <li style="display:inline-block;"><a href="{% provider_login_url "google"  method="oauth2" %}" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                  <li style="display:inline-block;"><a href="{% provider_login_url "linkedin"  process="connect" method="oauth2" %}" class="linkedin" ><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </form>
              
          </div>
         
        </div>
      </div>
    </div>

<!-- Login Modal -->
    <div class="modal fade login-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myLoginLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-body">
            <form class="loginForm" method="POST" action="/user/login/" autocomplete="off">
                {% csrf_token %}
              <div id="loginError" class="black">
              </div>
              <div class="group">
                <input type="email" name="loginEmail" id="loginEmail"><span class="highlight"></span><span class="bar"></span>
                <label>Email</label>
              </div>
              <div class="group">
                <input type="password" name="loginPassword" id="loginPassword"><span class="highlight"></span><span class="bar"></span>
                <label>Password</label>
              </div>
              <button type="submit" class="button buttonBlue loginButton">
                  <i class="fa fa-spinner hide fa-pulse"></i>
                  <span class="text">Login</span>
              </button>
              <ul class="social-nav model-2">
                  <li style="display:inline-block;"><a href="{% provider_login_url "facebook" process="connect" method="oauth2" %}" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                  <li style="display:inline-block;"><a href="{% provider_login_url "google" process="connect" method="oauth2" %}" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                  <li style="display:inline-block;"><a href="{% provider_login_url "linkedin" process="connect" method="oauth2" %}" class="linkedin" ><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <br>


            </form>
              
          </div>
         
        </div>
      </div>
    </div>



<div class="main-wrapper">
	<header id="ha-header" class="ha-header ha-header-hide "  >
		<div class="ha-header-perspective">
			<div class="ha-header-front navbar navbar-default">
			  <div class="compressed">
				<div class="navbar-header">
				  <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a href="" class="navbar-brand compressed">Mentor Buddy</a>
				</div>
				<div class="navbar-collapse collapse">
				  <ul class="nav navbar-nav navbar-right" >
					<li ><a target="_blank" href="#">Home</a></li>
					<li ><a target="_blank" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>
					<li ><a target="_blank" data-toggle="modal" data-target="#loginModal">LOGIN</a></li>
					<li><a target="_blank" href="#">Team</a></li>
					<li ><a target="_blank" href="/user/contact/">Contact</a></li>
					<li ><a target="_blank" href="/about/">About</a></li>

				  </ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
</header>
	
<div class="section ha-waypoint"  data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
<div role="navigation" class="navbar navbar-transparent navbar-top">
     <div class="container"> 
	  <div class="compressed">
        <div class="navbar-header">
		   <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right mainNavBar">
			<li><a href="/" target="_blank">Home</a></li>
			<li><a href="#" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>
			<li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
			<li><a href="#" target="_blank">Team</a></li>
			<li><a href="/user/contact/" target="_blank">Contact</a></li>
            <li><a href="/about/" target="_blank">About</a></li>
			
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>
</div>
	<!--BEGIN SLIDER -->
	<div class="tp-banner-container">
		<div class="tp-banner" id="home" >
			<ul>
				<!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
					<!-- MAIN IMAGE -->

                    <!-- <img src="{% static 'template/frontend/assets/img/bg/slide_one.jpg' %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"> -->
                    <img src="{% static 'img/Banner3.jpg' %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

					<!-- LAYERS -->
					<div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
							data-x="center" data-hoffset="0"
							data-y="60"
							data-speed="500"
							data-start="800"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6"><h2 class="text-white custom-font title "></h2>
							
					</div>
					<div class="tp-caption sfb slider tp-resizeme slider center"
						data-x="center"
						data-hoffset="0"
						data-y="140"
						data-speed="800"
						data-start="1000"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6;text-align: center" >
						<div class="well translucent" style="word-break:break-all;color: #000000">
                            <h4><span class="semi-bold">Mentor Buddy</span> is a place which connects.<br>
                            With over 100+ verified experts from top universities
                            we bring you the complete blend of professionals.
                        </h4>
						</div>
                        <h2 style="color: #000000;background: rgba(45, 49, 57, 0.3);display: inline-block;margin: 5px auto;">&nbsp;<i class="fa fa-quote-left"></i>Enabling Global Education<i class="fa fa-quote-right"></i>&nbsp;</h2>
                        <br>
                        <a href="#" id="loginButton"  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">LOGIN</a>
                        <a href="#" id="signUpButton"  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
						<br>

					</div>
					<div class="tp-caption fade slider tp-resizeme slider"
						data-x="center"
						data-hoffset="0"
						data-y="300"
						data-speed="500"
						data-start="800"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6">
					</div>
				</li>
                <!--
				<li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
					<img src="{% static 'img/bg18.jpg' %}"   alt="slidebg2"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

					<div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
							data-x="center" data-hoffset="0"
							data-y="60"
							data-speed="500"
							data-start="800"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6; text-align: left;"><h2 class="text-white custom-font title ">CATCH YOUR DREAMS!</h2>
                        <span><h3 style="color: #f5f5f5">Our expert mentors will help you tread the path<br> they took and realize your dreams!</h3></span>
					</div>
					<div class="tp-caption sfb slider tp-resizeme slider"
						data-x="center"
						data-hoffset="0"
						data-y="240"
						data-speed="800"
						data-start="1000"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6; top: 150px !important; color: #ffffff">
					</div>
					
				</li>
				-->
                
                <!--
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
					MAIN IMAGE
					<img src="{% static 'img/300561-frederika.jpg' %}"   alt="slidebg2"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

					LAYERS
					<div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
							data-x="center" data-hoffset="0"
							data-y="60"
							data-speed="500"
							data-start="800"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6"><h2 class="text-white custom-font title ">WE'VE MENTORS FROM ALL OVER THE WORLD!<br> </h2>

					</div>
					<div class="tp-caption sfb slider tp-resizeme slider"
						data-x="center"
						data-hoffset="0"
						data-y="240"
						data-speed="800"
						data-start="1000"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="z-index: 6">	<a href="#" class="btn btn-danger btn-lg  btn-large m-r-10">SIGN UP NOW!</a>
					</div>
				</li>
                -->

				<!-- SLIDE  -->
			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</div>
	<!--END SLIDER
		
	-->
			

	
</div>



</div>
    <div class="container-fluid">
        <div class="row textCenter">
            <div class="col-xs-12 pad-s dark">
                <h1 class="normal">Welcome to MentorBuddy!</h1>
            </div>

            <div class="col-md-6 pad-l textLeft">
                <h1 class="wow bounceInLeft">Find the Right Mentors</h1><hr>
                <p class="wow fadeInUp">
                    It's difficult to find someone who can show you the right path. That someone is a buddy who has been there, done that. Who else can it be?<br>
                    Search your <span class="semi-bold">MentorBuddy</span> with us!
                </p>
            </div>
            <div class="col-md-6 textCenter pad-s">
                <img src="{% static 'img/bg4low.jpg' %}" data-wow-delay="1s" class="img-1 wow bounceInUp img-responsive center"/>
            </div>
        </div>


        <div class="row dark">
            <div class="col-md-6 textCenter ">
                <img src="{% static 'img/info1.png' %}" class="img-4 wow bounceInUp img-responsive center" />
            </div>
            <div class="col-md-6 pad-l textLeft" >
                <h1 class="wow bounceInRight"  data-wow-delay="1s" data-wow-offset="30">Explore!</h1><hr>
                <p class="wow fadeInUp" data-wow-delay="1.5s" data-wow-offset="30">
                    Exploring the superabundant universities becomes an arduous task many a times.But not so with us! <br><span class="semi-bold">Research, Culture, Financial Aid</span> - get to know about everything only at MentorBuddy.
                </p>
            </div>
        </div>

        <div class="section table-layout">
        <div id="working-section" class="table-cell v-middle">
            <div >
            <h2 class="text-white text-center custom-font no-margin">HUNDREDS OF QUALIFIED MENTORS</h2>
            </div>
            </div>
        </div>


        <div class="row ">
            <div class="col-md-6 pad-s textLeft pad-l">
                <h1 class="wow bounceInRight"  data-wow-delay="1s" data-wow-offset="30">Communicate Right Here!</h1><hr>
                <p class="wow fadeInUp" data-wow-delay="1.5s" data-wow-offset="30">
                Once you find your buddy, there's no need to rush to your mailbox or Skype.<br>We provide you a seemless integration with Video/Voice Call and Chat! (Right Here)
                </p>
            </div>
            <div class="col-md-6 textCenter pad-s">
                <img src="{% static 'img/dog.jpg' %}" class="img-2 wow bounceInUp img-responsive center" />
            </div>
        </div>

        <div class="row dark">

            <div class="col-md-6 textCenter pad-s">
                <img src="{% static 'img/ways.png' %}" class="img-3 wow bounceInUp center"/>
            </div>
            <div class="col-md-6 pad-l textLeft">
                <h1  class="wow bounceInRight" data-wow-delay="1s">Goodbye Messy Forums. Welcome GQ!</h1>
                <hr>
                <p class="wow fadeInUp" data-wow-delay="1.5s">
                Forums are a thing of the past. They are messy and cluttered. GQ helps list all those General Queries that first hit your head!
                </p>

            </div>
        </div>


    </div>
<footer id="footerWrapper">
	<section id="mainFooter">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6 padding-20" style="text-align: center">
					<span class="footerWidget" style='font-size: 20px;font-family: "Raleway", sans-serif'>
						<a href="http://www.mentorbuddy.in" title="Mentor Buddy,
						Enabling global eductaion">MentorBuddy</a> is a global platform.
                            We at MentorBuddy, help students aspiring to study
                            abroad to connect with their dreams.
					</span>
				</div>
				<div class="col-sm-3">
					<div class="footerWidget">
						<h3>Mentor Buddy</h3>
						<address>
                            <i class="fa fa-location-arrow"></i>&nbsp;77 Mass. Ave., E14/E15<br>
                            Seattle, MA 02139-4307 USA <br>
                            <i class="fa fa-phone"></i>&nbsp;615.987.1234 <br>
                            <i class="fa fa-mail"></i>&nbsp;<a href="mailto:admin@mb.in">admin@mb.in</a>
						</address>
					</div>
				</div>
					<div class="col-sm-3">
						<div class="footerWidget">
							<h4>Follow us, we are social</h4>
                            <ul class="social-nav model-2">
                              <li style="float: left;"><a target="_blank" href="https://twitter.com/mentor_buddy" class="twitter"><i class="fa fa-twitter"></i></a></li>
                              <li style="float: left;"><a target="_blank" href="https://www.facebook.com/mentorbuddy" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                              <li style="float: left;"><a target="_blank" href="https://plus.google.com/101980935667414019691" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="footerRights">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 p-b-10 padding-10" style="text-align: center">
						Copyright © 2015 <a href="http://www.mentorbuddy.in" target="_blank">Mentor Buddy</a> / All rights reserved.
					</div>
				</div>
			</div>
		</section>
</footer>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'template/frontend/assets/plugins/pace/pace.min.js' %}" type="text/javascript"></script>
<!--<script src="{% static 'template/frontend/assets/plugins/jquery-unveil/jquery.unveil.min.js' %}" type="text/javascript"></script>
<script src="{% static 'template/frontend/assets/plugins/waypoints.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'template/frontend/assets/plugins/parrallax/js/jquery.parallax-1.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'template/frontend/assets/plugins/jquery-nicescroll/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'template/frontend/assets/plugins/jquery-appear/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'template/frontend/assets/js/core.js' %}"></script>
<!-- Ajax sign-up form -->
    <script type="text/javascript">
        function validateForm(form) {
            var valid = 1;
            var formElements = form.elements;
            for(var i = 0; i < formElements.length; i++) {

                if(formElements[i].value == '' && formElements[i].type != "submit") {
                    $("#"+formElements[i].id).css({'border-bottom':"1px solid red"});
                    valid *= 0;
                }
            }
            return valid;
        }

        $(document).ready(function() {
            $('.signUpForm').submit(function(e) {
                e.preventDefault();
                var form = document.getElementsByClassName('signUpForm')[0];
                if(validateForm(form) == 1) {
                    var postData = $(this).serializeArray();
                    var msg='';
                    var owner = $(this);
                    $(this).find(".fa-spinner").removeClass('hide');
                    $(this).find(".signUpText").text('SIGNING YOU UP ...');

                    $("signUpButton").addClass('disabled');
                    $.ajax({
                        url: '/user/register/',
                        type: 'POST',
                        data: postData,
                        dataType: 'json',
                        success: function(data) {
                            if(data["error"] == true) {
                                $("#signUpError").html(data['message']);
                                $("signUpButton").removeClass('disabled');
                                owner.find(".fa-spinner").addClass('hide');
                                owner.find(".signUpText").text('SIGN UP!');
                            }
                            else {

                                msg = "<div class='black tiles white'><i class='fa fa-envelope fa-3x'></i><br>You're just one step away!<br>We have sent you a verification email. Check for the same!<div> ";
                                $("#signUpModal .modal-header").css({"background-color": "white"});
                                $("#signUpModal .modal-content").css({"background-color": "white"});
                                $("#signUpModal .modal-body").css({"background-color": "white"});
                                $('.signUpForm').fadeOut();
                                $('#signUpModal .modal-body').html(msg);
                            }
                        },
                        error: function(data) {
                            alert("Oops! ajax error");
                        }
                    });
                }
                else {
                    $("#signUpError").html("Please check all the input fields");
                }
            });
            $(".loginForm").submit(function(event) {
                event.preventDefault();
                var form = document.getElementsByClassName('loginForm')[0];
                if(validateForm(form) == 1) {
                    $(".loginButton").addClass("disabled");
                    $(".loginButton .text").html("Logging you in...")
                    $(".loginButton i").removeClass("hide");
                    var postData = $(this).serializeArray();
                    $.ajax({
                        url: '/user/login/',
                        type: 'POST',
                        data: postData,
                        dataType: 'json',
                        success: function(data) {
                            if(data["error"] == true) {
                                $("#loginError").html(data['msg']);
                                $(".loginButton .text").html("Login");
                                $(".loginButton i").addClass("hide");
                            }
                            else {
                                location.reload();
                            }
                        },
                            error: function(data) {
                                $("#loginError").html("Ajax error! please reload");
                                $(".loginButton .text").html("Login");
                                $(".loginButton i").addClass("hide");
                        }
                    });
                }
                else {
                    $("#loginError").html("All fields are required")
                }


            });
        });
    </script>
      
    <!-- Sign Up Form -->
    <script type="text/javascript">
        $(window, document, undefined).ready(function() {
          $('input').blur(function() {
            var $this = $(this);
            if ($this.val())
              $this.addClass('used');
            else
              $this.removeClass('used');
          });

          var $ripples = $('.ripples');

          $ripples.on('click.Ripples', function(e) {

            var $this = $(this);
            var $offset = $this.parent().offset();
            var $circle = $this.find('.ripplesCircle');

            var x = e.pageX - $offset.left;
            var y = e.pageY - $offset.top;

            $circle.css({
              top: y + 'px',
              left: x + 'px'
            });

            $this.addClass('is-active');

          });

          $ripples.on('animationend webkitAnimationEnd mozAnimationEnd oanimationend MSAnimationEnd', function(e) {
            $(this).removeClass('is-active');
          });
        });
    </script>
    <!-- loader scripts -->
    <script src="{% static 'loader/js/classie.js' %}"></script>
    <script src="{% static 'loader/js/main.js' %}"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.easing.1.3.js' %}"></script>

    
    <!-- WOW revealer script  -->
    <script type="text/javascript" src="{% static 'animation/wow.min.js' %}"></script>
    <script type="text/javascript">
          new WOW().init();
    </script>
       
     <script>
     $(document).ready(function(){
      $('.danger').popover({ 
        html : true,
        content: function() {
          return $('#login-content').html();
        }
      });
    })
   </script>
   <script type="text/javascript">
       $(document).ready(function() {
       		$(document).scroll(function() {
       			if($(document).scrollTop() == 0) {
       				$("#ha-header").addClass("ha-header-hide");	
       			}
       			else {
       				$("#ha-header").removeClass("ha-header-hide");	
       			}
       		});
       });
   </script>
</body>
</html>