<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mentor Buddy</title>
</head>
<body>
	<h1>Welcome to Mentor Buddy Registeration</h1>
	{% if selected == 'mentor' %}
	<form method="POST" action="/user/register/">
		<input type="hidden" name="selected" value="mentor">
		<input type="hidden" name="is_new" value="False">
		{% csrf_token %}
		{{ mentor_form.as_p }}
		{{ education_form.as_p }}
		<input type="submit" value="SUBMIT">
	</form>
	{% endif %}
	{% if selected == 'mentee' %}
		<form method="POST" action="/user/register/">
			{% csrf_token %}
			<input type="hidden" name="selected" value="mentee">
			<input type="hidden" name="is_mentor" value="False">
			<input type="hidden" name="is_new" value="False">
			{{ mentee_form.as_p }}
			<input type="submit" value="SUBMIT">
		</form>
	{% endif %}
</body>
</html>
