{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MentorBuddy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static '' %}">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="{% static 'sedna/css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'sedna/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sedna/css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'sedna/css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'sedna/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'sedna/css/queries.css' %}">
    <link rel="stylesheet" href="{% static 'sedna/css/etline-font.css' %}">
    <link rel="stylesheet" href="{% static 'sedna/bower_components/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'sedna/css/custom.css' %}">
    <script src="{% static 'sedna/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>


</head>
<body id="top">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<!-- SIGN UP Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form class="signUpForm" method="POST" action="/user/register/" autocomplete="off">
                {% csrf_token %}
              <div id="signUpError">
              </div>
              <div class="group">
                <input type="text" name="fn" id="fn"><span class="highlight"></span><span class="bar"></span>
                <label>First Name</label>
              </div>
              <div class="group">
                <input type="text" name="ln" id="ln"><span class="highlight"></span><span class="bar"></span>
                <label>Last Name</label>
              </div>
              <div class="group">
                <input type="email" name="email" id="email"><span class="highlight"></span><span class="bar"></span>
                <label>Email</label>
              </div>

              <div class="group">
                <input type="text" name="company" id="company"><span class="highlight"></span><span class="bar"></span>
                <label>Organization</label>
              </div>
              <div class="group">
                <input type="text" name="position" id="position"><span class="highlight"></span><span class="bar"></span>
                <label>Position</label>
              </div>


              <div class="group">
                <input type="text" name="city" id="city"><span class="highlight"></span><span class="bar"></span>
                <label>City</label>
              </div>
              
              <div class="group">
                <input type="text" name="country" id="country"><span class="highlight"></span><span class="bar"></span>
                <label>Country</label>
              </div>

              <div class="group">
                <input type="text" name="contact" id="contact"><span class="highlight"></span><span class="bar"></span>
                <label>Contact</label>
              </div>
              
              <button type="submit" class="button buttonBlue singUpButton">
                  <i class="fa fa-spinner hide fa-pulse"></i>
                  <span class="signUpText">SIGN UP!</span>
              </button>
                <h5><span class="black">or sign up with:</span></h5>
                <ul class="social-nav model-2" >
                    <li style="display:inline-block;"><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                    <li style="display:inline-block;"><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                    <li style="display:inline-block;"><a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </form>
              
          </div>
         
        </div>
      </div>
    </div>
<!-- End of Sign up Modal -->

<!-- Login Modal -->
    <div class="modal fade login-modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myLoginLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-body">
            <form class="loginForm" method="POST" action="/user/login/" autocomplete="off">
                {% csrf_token %}
              <div id="loginError" class="black">
              </div>
              <div class="group">
                <input type="email" name="loginEmail" id="loginEmail"><span class="highlight"></span><span class="bar"></span>
                <label>Email</label>
              </div>
              <div class="group">
                <input type="password" name="loginPassword" id="loginPassword"><span class="highlight"></span><span class="bar"></span>
                <label>Password</label>
              </div>
              <button type="submit" class="button buttonBlue loginButton">
                  <i class="fa fa-spinner hide fa-pulse"></i>
                  <span class="text">Login</span>
              </button>
              <ul class="social-nav model-2">
                  <li style="display:inline-block;"><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                  <li style="display:inline-block;"><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                  <li style="display:inline-block;"><a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-- End of login Modal -->

    <section class="hero">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="header-nav">
                        <nav>
                            <ul class="primary-nav">
                                <li><a href="#features">Features</a></li>
                                <li><a href="#assets">Assets</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#download">Download</a></li>
                            </ul>
                            <ul class="member-actions">
                                <li><a class="login btn-login" data-toggle="modal" data-target="#loginModal">Log in</a></li>
                                <li><a class="btn-white btn-small btn-signup" data-toggle="modal" data-target="#signUpModal">Sign up</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="hero-content text-center">
{#                        <img class="img-responsive logo" src="{% static 'img/logo1.png' %}" alt="Sedna logo">#}
                        <h1>Connect, <span style="color: rgb(255, 82, 116)" class="word2">Get Mentored</span>, Succeed!</h1>
                        <p class="intro">MentorBuddy is a platform that connects entrepreneurs with top advisors & industry experts to conduct market research, get strategic business advice, or learn a specialized skill to help them grow their business.</p>
                        <a href="#intro" class="btn btn-accent btn-large">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
    </section>
    <section class="intro section-padding" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-3 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe033;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Explore</h5>
                        <p>Search from a curated list of experts across various domains.</p>
                    </div>
                </div>
                <div class="col-md-3 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe030;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Select</h5>
                        <p>Select an expert best suited for your startup, stage and problem.</p>
                    </div>
                </div>
                <div class="col-md-3 intro-feature">
                    <div class="intro-icon">
                        <i class="fa fa-phone fa-3x" style="color: rgb(255, 82, 116);"></i>
                    </div>
                    <div class="intro-content last">
                        <h5>Call</h5>
                        <p>Schedule a call by giving them the background of your problem.</p>
                    </div>
                </div>
                <div class="col-md-3 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe046;" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                        <h5>Solve</h5>
                        <p>Find solutions to your problems on the call and implement them.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features section-padding" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <div class="feature-list">
                        <h3>Sedna will drive your product forward</h3>
                        <p>Present your product, start up, or portfolio in a beautifully modern way. Turn your visitors in to clients.</p>
                        <ul class="features-stack">
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <span data-icon="&#xe03e;" class="icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h5>Universal & Responsive</h5>
                                    <p>Sedna is universal and will look smashing on any device.</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <span data-icon="&#xe040;" class="icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h5>User Centric Design</h5>
                                    <p>Sedna takes advantage of common design patterns, allowing for a seamless experience for users of all levels.</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <span data-icon="&#xe03c;" class="icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h5>Clean reusable code</h5>
                                    <p>Download and re-use the Sedna open source code for any other project you like.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="device-showcase">
            <div class="devices">
                <div class="ipad-wrap wp1"></div>
                <div class="iphone-wrap wp2"></div>
            </div>
        </div>
        <div class="responsive-feature-img"><img src="{% static 'sedna/img/devices.png' %}" alt="responsive devices"></div>
    </section>
    <section class="features-extra section-padding" id="assets">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="feature-list">
                        <h3>Designed with Sketch!</h3>
                        <p>Easily change/switch/swap every placeholder inside every image on Sedna with the included Sketch files. You’ll have this template customised to suit your business in no time! </p>
                        <p>Nam vehicula malesuada lectus, interdum fringilla nibh. Duis aliquam vitae metus a pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. Proin condimentum et leo quis fringilla.
                        </p>
                        <a href="#" class="btn btn-ghost btn-accent btn-small">What's Sketch?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="macbook-wrap wp3"></div>
        <div class="responsive-feature-img"><img src="{% static 'sedna/img/macbook-pro.png' %}" alt="responsive devices"></div>
    </section>
    <section class="hero-strip section-padding">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2>
                Customise Sedna with the included <span class="sketch">Sketch <i class="version">3</i></span> file
                </h2>
                <p>Change/swap/edit every aspect of Sedna before you hit development with the included Sketch file.</p>
                <a href="#" class="btn btn-ghost btn-accent btn-large">Download now!</a>
                <div class="logo-placeholder floating-logo"><img src="{% static 'sedna/img/sketch-logo.png' %}" alt="Sketch Logo"></div>
            </div>
        </div>
    </section>
    <section class="blog-intro section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Showcase your smashing product with Sedna</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                    <h5>EXCLUSIVE TO CODROPS</h5>
                    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                    <h5>SPREADING PIXELS AROUND THE WORLD</h5>
                    <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial-slider section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="avatar"><img src="img/avatar.jpg" alt="Sedna Testimonial Avatar"></div>
                                <h2>"Lorem ipsum dolor sit amet, nullam lucia nisi."</h2>
                                <p class="author">Peter Finlan, Product Designer.</p>
                            </li>
                            <li>
                                <div class="avatar"><img src="img/mani.jpg" alt="Sedna Testimonial Avatar"></div>
                                <h2>"Nunc vel maximus purus. Nullam ac urna ornare."</h2>
                                <p class="author">Manoela Ilic, Founder @ Codrops.</p>
                            </li>
                            <li>
                                <div class="avatar"><img src="img/130.jpg" alt="Sedna Testimonial Avatar"></div>
                                <h2>"Nullam ac urna ornare, ultrices nisl ut, lacinia nisi."</h2>
                                <p class="author">Blaz Robar, Pixel Guru</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sign-up section-padding text-center" id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Get started with Sedna, absolutely free</h3>
                    <p>Grab your copy today, exclusively from Codrops</p>
                    <form class="signup-form" action="#" method="POST" role="form">
                        <div class="form-input-group">
                            <i class="fa fa-envelope"></i><input type="text" class="" placeholder="Enter your email" required>
                        </div>
                        <div class="form-input-group">
                            <i class="fa fa-lock"></i><input type="text" class="" placeholder="Enter your password" required>
                        </div>
                        <button type="submit" class="btn-fill sign-up-btn">Sign up for free</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="to-top">
        <div class="container">
            <div class="row">
                <div class="to-top-wrap">
                    <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="footer-links">
                        <ul class="footer-group">
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="http://tympanus.net/codrops/licensing/">Licence</a></li>
                            <li><a href="http://tympanus.net/codrops/">Codrops</a></li>
                            <li><a href="http://www.peterfinlan.com/">Peter Finlan</a></li>
                        </ul>
                        <p>Copyright © 2015 <a href="#">Sedna</a><br>
                        <a href="http://tympanus.net/codrops/licensing/">Licence</a> | Crafted with <span class="fa fa-heart pulse2"></span> by <a href="http://www.peterfinlan.com/">Peter Finlan</a>.</p>
                    </div>
                </div>
                <div class="social-share">
                    <p>Share Sedna with your friends</p>
                    <a href="https://twitter.com/peterfinlan" class="twitter-share"><i class="fa fa-twitter"></i></a> <a href="#" class="facebook-share"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'jquery/jquery-2.1.3.min.js' %}"><\/script>')</script>
    <script src="{% static 'sedna/bower_components/retina.js/dist/retina.js' %}"></script>
    <script src="{% static 'sedna/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'sedna/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'sedna/js/scripts.js' %}"></script>
    <script src="{% static 'sedna/js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'sedna/bower_components/classie/classie.js' %}"></script>
    <script src="{% static 'sedna/bower_components/jquery-waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".word2").effect("bounce",{direction: 'up', times: 1},1000)
        })
        function validateForm(form) {
            var valid = 1;
            var formElements = form.elements;
            for(var i = 0; i < formElements.length; i++) {

                if(formElements[i].value == '' && formElements[i].type != "submit") {
                    $("#"+formElements[i].id).css({'border-bottom':"1px solid red"});
                    valid *= 0;
                }
            }
            return valid;
        }

        $(document).ready(function() {
            $('.signUpForm').submit(function(e) {
                e.preventDefault();
                var form = document.getElementsByClassName('signUpForm')[0];
                if(validateForm(form) == 1) {
                    var postData = $(this).serializeArray();
                    var msg='';
                    var owner = $(this);
                    $(this).find(".fa-spinner").removeClass('hide');
                    $(this).find(".signUpText").text('SIGNING YOU UP ...');

                    $("signUpButton").addClass('disabled');
                    $.ajax({
                        url: '/user/register/',
                        type: 'POST',
                        data: postData,
                        dataType: 'json',
                        success: function(data) {
                            if(data["error"] == true) {
                                $("#signUpError").html(data['message']);
                                $("signUpButton").removeClass('disabled');
                                owner.find(".fa-spinner").addClass('hide');
                                owner.find(".signUpText").text('SIGN UP!');
                            }
                            else {

                                msg = "<div class='black tiles white'><i class='fa fa-envelope fa-3x'></i><br>You're just one step away!<br>We have sent you a verification email. Check for the same!<div> ";
                                $("#signUpModal .modal-header").css({"background-color": "white"});
                                $("#signUpModal .modal-content").css({"background-color": "white"});
                                $("#signUpModal .modal-body").css({"background-color": "white"});
                                $('.signUpForm').fadeOut();
                                $('#signUpModal .modal-body').html(msg);
                            }
                        },
                        error: function(data) {
                            alert("Oops! ajax error");
                        }
                    });
                }
                else {
                    $("#signUpError").html("Please check all the input fields");
                }
            });
            $(".loginForm").submit(function(event) {
                event.preventDefault();
                var form = document.getElementsByClassName('loginForm')[0];
                if(validateForm(form) == 1) {
                    $(".loginButton").addClass("disabled");
                    $(".loginButton .text").html("Logging you in...")
                    $(".loginButton i").removeClass("hide");
                    var postData = $(this).serializeArray();
                    $.ajax({
                        url: '/user/login/',
                        type: 'POST',
                        data: postData,
                        dataType: 'json',
                        success: function(data) {
                            if(data["error"] == true) {
                                $("#loginError").html(data['msg']);
                                $(".loginButton .text").html("Login");
                                $(".loginButton i").addClass("hide");
                            }
                            else {
                                location.reload();
                            }
                        },
                            error: function(data) {
                                $("#loginError").html("Ajax error! please reload");
                                $(".loginButton .text").html("Login");
                                $(".loginButton i").addClass("hide");
                        }
                    });
                }
                else {
                    $("#loginError").html("All fields are required")
                }


            });
        });
    <!-- Sign Up Form -->
        $(window, document, undefined).ready(function() {
          $('input').blur(function() {
            var $this = $(this);
            if ($this.val())
              $this.addClass('used');
            else
              $this.removeClass('used');
          });

          var $ripples = $('.ripples');

          $ripples.on('click.Ripples', function(e) {

            var $this = $(this);
            var $offset = $this.parent().offset();
            var $circle = $this.find('.ripplesCircle');

            var x = e.pageX - $offset.left;
            var y = e.pageY - $offset.top;

            $circle.css({
              top: y + 'px',
              left: x + 'px'
            });

            $this.addClass('is-active');

          });

          $ripples.on('animationend webkitAnimationEnd mozAnimationEnd oanimationend MSAnimationEnd', function(e) {
            $(this).removeClass('is-active');
          });
        });
    </script>
</body>
</html>