{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="MentorBuddy">

    <title>MentorBuddy - Team</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'team page/css/agency.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">MentorBuddy</a>
            </div>

		<!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scrol" href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about/">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/user/contact/">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- use the html from here --!>

    
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Meet the people behind MentorBuddy!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'team page/img/team/1.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Abhijeet</h4>
                        <p class="text-muted">Founder</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="twitter.com/iabheejit"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="fb.me/abhijeetkhan"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://in.linkedin.com/in/abhijeetkhan"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'team page/img/team/2.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Viresh</h4>
                        <p class="text-muted">Dev Ops Lead</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/viresh.dhawan"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://in.linkedin.com/in/vireshdhawan"><i class="fa fa-linkedin"></i></a>
                            </li>
						
                        </ul>
                    </div>
                </div>
                            <div class="row">
<div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'team page/img/3.jpg' %}" class="img-responsive img-circle" alt="Anmol Shukla">
                        <h4>Anmol</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/AnmolShkl"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/Catalan5"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://in.linkedin.com/pub/anmol-shukla/61/785/b31"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'team page/img/team/4.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Shrutin</h4>
                        <p class="text-muted">Advisor</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/shrutinshetty"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/ShrutinShetty"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://in.linkedin.com/in/shrutinshetty"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'team page/img/team/sameer.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Sameer</h4>
                        <p class="text-muted">Backend Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href=" https://www.facebook.com/sameer.sonawane.585"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://in.linkedin.com/in/sonawanesameer"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/no-profile-pic.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>You</h4>
                        <p class="text-muted">Join Our Team!</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:buddy@mentorbuddy.in"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
			</div>
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Chief Mentors</h2>
                    <h3 class="section-subheading text-muted">People leading the MB community!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'team page/img/team/pranoti.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Pranoti</h4>
                        <p class="text-muted">University of Stuttgart</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="www.uni-stuttgart.de/home/index.en.html"><i class="fa fa-university"></i></a>
                            </li>
                            <li><a href="http://mentorbuddy.in/mentor/get-profile/69/"><i class="fa fa-maxcdn"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'team page/img/team/cm3.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Shraddha</h4>
                        <p class="text-muted">Purdue Uniersity</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="www.gatech.edu"><i class="fa fa-university"></i></a>
                            </li>
                            <li><a href="http://mentorbuddy.in/mentor/get-profile/69/"><i class="fa fa-maxcdn"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
	
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'team page/img/team/priyanka.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Priyanka</h4>
                        <p class="text-muted">Georgia Institute of Technology</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="www.gatech.edu"><i class="fa fa-university"></i></a>
                            </li>
                            <li><a href="http://mentorbuddy.in/mentor/get-profile/69/"><i class="fa fa-maxcdn"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
	            <div class="row">
<div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/mentor.png' %}" class="img-responsive " alt="">
                        <h4>Be a Mentor!</h4>
                        <p class="text-muted">Be a Part of the Community</p>
                        <ul class="list-inline social-buttons">
                              <li><a href="mailto:buddy@mentorbuddy.in"><i class="fa fa-envelope"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
			</div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We are constantly innovating. If you feel you can be an element of change, drop us an email! </p> 
					<p class="large text-muted"> Inviting the crazy minds to join this team.</p>
                </div>
            </div>
        </div>
    </section>

    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; MentorBuddy 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
{#                        <li><a href="#">Privacy Policy</a></li>#}
{#                        <li><a href="#">Terms of Use</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </footer>

   
    <!-- jQuery -->
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'bootstrap/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'team page/js/classie.js' %}"></script>
    <script src="{% static 'team page/js/cbpAnimatedHeader.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'team page/js/jqBootstrapValidation.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'team page/js/agency.js' %}"></script>

</body>

</html>