<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Thank You!</title> 
      <style>
      body {
        padding: 0;
        margin: 0;
        background: #F9911E url('/static/img/launch2.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center bottom; 
        background-size: cover;
      }
        .img {
          position: relative;
          display: block;
          margin: 0px auto;
          max-height: 100%;
          max-width: 100%;
        }
      </style>
    </head>
    <body>
    </body>
</html>